body{
  background-color: bisque;
}

button{
  background-color: rgba(255, 228, 196, 0.461);
  border-color: bisque;
  color: rgba(0, 0, 0, 0.836);
  font-size: small;
  height: .5in;
}

.leftpage{

}

.mainfloatImg{
  height: 1in;
  width: 4.5in;
}